# Don't track content of these folders
node_modules/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

node_modules

